.footer {
  display: flex;
  padding: 0.5rem 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  justify-content: center;
  align-items: center;
  height: 6vh;
}

.footer p {
  color: var(--white-color);
}
