#body main {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

#body main .left {
  background-color: rgb(175, 169, 169);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5rem;
}

#body main .left .box-1 {
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: center;
  height: 53vh;
  background-color: wheat;
}
