#body main {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

/*
====================
Home Left Side
====================
*/
#body main .left {
  background-color: rgb(220, 228, 251);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 3.2rem;
  /* height: 75vh; */
}

#body main .left .box-1 {
  display: grid;
  grid-template-columns: 1fr minmax(50%);
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 2rem 2.5rem;
  position: relative;
}

@media screen and (max-width: 1000px) {
  #body main .left .box-1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

#body main .left .box-1 h2 {
  font-family: pop-B;
  grid-column: span 2;
  padding: 1rem 0;
}

#body main .left .box-1 div {
  grid-column: span 2;
}

#body main .left .box-1 div p {
  padding: 0.6rem;
}

/*
====================
Left side Navigation
====================
*/
#body main .left .box-1 nav {
  display: flex;
  transform: rotate(180deg);
  position: absolute;
  left: -7%;
  top: 2%;
}

#body main .left .box-1 nav li {
  list-style-type: none;
  position: relative;
  display: flex;
}

#body main .left .box-1 nav li a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 1rem 0.6rem;
  writing-mode: vertical-lr;
  font-size: medium;
}

#body main .left .box-1 nav li #nav-one {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 1px;
}

#body main .left .box-1 nav li #nav-two {
  margin-bottom: 1px;
}

#body main .left .box-1 nav li #nav-three {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*
====================
Home Left Side Views
====================
*/

#body main .left .box-1 .contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* position: relative; */
}

#body main .left .box-1 .contact-containers h2 {
  grid-column: span 2;
}

#body main .left .box-1 .contact-containers iframe {
  grid-column: span 2;
}

/*
====================
Home Right Side
====================
*/

#body main .right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* height: 75vh; */
}

#body main .right .box-2 {
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  display: grid;
}

#body main .right .box-2 img {
  width: 250px;
}

#body main .right form {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50px;
  justify-content: center;
  align-items: center;
}

#body main .right .box-2-left {
  grid-column: span 2;
  display: flex;
  justify-content: right;
  padding: 0 0.5rem 0 0;
}

#body main .right .box-2-right {
  grid-column: span 3;
  justify-content: left;
  padding: 0 0 0 0.5rem;
}

#body main .right .box-2-nav-left {
  grid-column: span 3;
  text-align: right;
  padding: 0 0.5rem 0 0;
}

#body main .right .box-2-nav-right {
  grid-column: span 2;
  text-align: left;
  padding: 0 0 0 0.5rem;
}

/*
====================
Home Right Side Form
====================
*/

#body main .right .box-2-right input {
  padding: 0.2rem 0.5rem;
  outline: 1px solid;
  /* box-shadow: 0 0 5px 0; */
  border: 0;
  border-radius: 5px;
}

#body main .right .box-2-nav-right button {
  padding: 0.3rem 1.3rem;
  border-radius: 5px;
  outline: 1px solid;
  border: 0;
}
